 <%= form_for @event, :html => {:id => "event-create-form"} do |f| %>
    <!-- <h4>Create Event</h4> -->
    <div class="row">
      <div class="small-12 columns">
        <%= f.text_field :title, placeholder: "Title", required: true, title: "Title" %>
        <%= f.text_field :location, placeholder: "Venue by Name", required: true, title: "Location" %>
        <div class="results" id="event-venue-results">
          
        </div>
        <%= f.text_field :address, placeholder: "Address", required: true, title: "Address" %>
      </div>
    </div>

    <div class="row align-bottom">
      <div class="small-5 columns">
        <%= f.label "Date" %>
        <%= f.date_field :date, required: true, title: "Date" %>
      </div>
      <div class="small-4 columns">
        <%= f.label "Time" %>
        <%= f.time_field :time, { :ampm => true } %>
      </div>
      <div class="small-3 columns">
        <%= f.label "Guests" %>
        <%= f.number_field :limit, min: "0", max: "40", placeholder: "Guests", required: true, title: "Number of Guests" %>
      </div>
    </div>
    <div id="event-venue_id">
      <% if @venue %>
        <%= hidden_field "event", :venue_id, value: @venue.id %>
      <% end %>
    </div>
    <div class="row">
      <div class="small-12 columns">
        <%= f.text_area :description, placeholder: "Description", required: true, title: "Description" %>
      </div>
      <div id="event-add-game">
        <div class="small-7 columns">
          <%= f.text_field "game", placeholder: "Add A Game!", id: "new-game-field" %>
          <div class="results" id="add-event-game-results">
          </div>
        </div>
        <div class="small-5 columns">
          <%= f.button "Add Game!", id: "add-new-game" %>
        </div>
      </div>
      <div class="small-12 columns">
        <% if @games %>
          <div id="event-create-games">
            <%= render partial: 'events/event_create_games', locals: { games: @games } %>
          </div>
        <% end %>
      </div>
      <div class="small-12 columns" id="event-create-button-div">
          <%= f.button :submit, class: "button", id: "event-create-submit-button" %>
      </div>
    </div>
  <% end %>