<% events.each do |event| %>
  <div class="columns index-box">
    <div class="index-left">
      <div class="index-pic">
      	<p class="" >No Photo Added</p>
      </div>
      <div class="event-status">
    		<%= render partial: 'event_attending_status', locals: { event: event } %>
    	</div>
    </div>

    <div class="index-right">
    	<div class="index-title text-center">
    		<h5><%= link_to event.title, event_path(event) %></h5>
        <p>Created by: <%= link_to User.find(event.user_id).user_name, user_path(event.user_id) %></p>
    	</div>
    	<div class="text-left">
    		<%= image_tag("icons/dice/dice1Green.png", size: '30', title: "games" ) %>
        <%= render partial: 'shared/games', locals: { games: event.games }%>
    	</div>
    </div>

    <div class="index-bottom align-bottom">
    	<div>
      	<p class="index-place">
      		<%= image_tag("icons/shops/shop1Purple.png", size: '30', title: "place" ) %>
        	<%= link_to event.venue.name, venue_path(event.venue) %>
      	</p>
    	</div>
    	<div>
	      <%= image_tag("icons/calendars/calendar1.1Purple.png", size: '25', title: "date") %>
	      <%= event.date.strftime("%B #{event.date.day.ordinalize}") %>
	      <%= image_tag("icons/clocks/clock1.1Purple.png", size: '25', title: "time") %>
	      <%= event.time.strftime('%-I:%M%p') %>
	      <%= image_tag("icons/people/person1.1Purple0.3.png", width: '15', title: "attendees") %> 
	      <%= event.guests.length %>
    	</div>
    </div>
   
  </div>
<% end %>
