<% events.each do |event| %>
  <div class="row index-box">
    <div class="small-12 show-for-small-only index-title columns text-center">
      <h5><%= link_to event.title, event_path(event) %></h5
      <p><%= event.venue.address %></p>
    </div>
    <div class="small-7 medium-3 columns">
      <div class="index-pic">
        <p>No Photo Added</p>
      </div>
    </div>

    <div class="columns small-5 show-for-small-only">
      <div class="event-index-join">
        <%= link_to "Join Event!", event_path(event), method: :put, class: "button" %>
      </div>
      <div class="">
        <%= render partial: 'shared/games', locals: { games: event.games }%>
      </div>
    </div>

    <div class="small-9 columns">
      <div class="row" >
        <div class="hide-for-small-only medium-12 columns text-center">
          <h5 class="index-title"><%= link_to event.title, event_path(event) %></h5>
          <div class="row">
            <div class="small-9 columns">
              <p><%= event.venue.address %></p>
              <%= render partial: 'shared/games', locals: { games: event.games }%>
              <p><%= event.date.strftime("%B #{event.date.day.ordinalize}") %>, <%= event.time.strftime('%-I:%M%p') %></p>
            </div>
            <div class="small-3 columns event-index-join">
              <%= link_to "Join Event!", event_path(event), method: :put, class: "button" %>
              <p class="">Created by: <%= link_to User.find(event.user_id).user_name, user_path(event.user_id) %></p>
              <p>Max Guests: <%= event.limit %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="row show-for-small-only" >
        <div class="small-12 columns event-first-column">
          <p><%= event.date.strftime("%B #{event.date.day.ordinalize}") %>, <%= event.time.strftime('%-I:%M%p') %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>
