<%= link_to "create new event", new_event_path,id: "event-create-link"  %>

<div id="event-create-ajax-div">
</div>

<% @events.each do |event| %>
<div class="posted-event">
  <p class="event-index-title"><%= link_to event.title, event_path(event) %></p>
  <p class="event-index-location">Location: <%= event.location %></p>
  <p class="event-index-date">Date: <%= event.date.strftime("%m/%d/%Y") %></p>
  <p class="event-index-time">Time: <%= event.time.localtime.strftime('%I:%M %p') %></p>
  <p class="event-index-limit">Max Participants: <%= event.limit %></p>
</div>
<% end %>
