<%= render 'index' %>

<!--
  <div class="small-3 columns" id="event-index-sidebar">
    <h5><b>Events I'm Organizing:</b></h3>
    <div class="created-events-index-sidebar-div">
      <%= link_to "+  Create an Event", new_event_path,id: "event-create-link"  %>
      <% @created_events.each do |event| %>
        <div class="created-event-index-sidebar-div">
          <%= link_to event.title, event_path(event) %>
          <p>Location: <%= event.location%></p>
          <p class="time-event-index-sidebar">Time: <%= event.date.strftime("%B #{event.date.day.ordinalize}") %>, <%= event.time.strftime('%-I:%M%p') %></p>
          <p class="games-event-index-sidebar">
            Games: <% event.games.each do |game| %>
              <%= game.name %>
            <% end %>
          </p>
        </div>
        <span class="side-bar-linebreak"></span>
      <% end %>
    </div>

    <h5><b>Events I'm attending:</b></h5>
      <% @attended_events.each do |event| %>
        <div class="attending-event-index-sidebar-div">
          <%= link_to event.title, event_path(event) %>
          <p>Location: <%= event.location%></p>
          <p class="time-event-index-sidebar">Time: <%= event.date.strftime("%B #{event.date.day.ordinalize}") %>, <%= event.time.strftime('%-I:%M%p') %></p>
          <p class="games-event-index-sidebar">
            Games: <% event.games.each do |game| %>
              <%= game.name %>
            <% end %>
          </p>
        </div>
        <span class="side-bar-linebreak"></span>
      <% end %>

  </div> -->

<!-- end sidebar -->