<div class="row align-center" >
  <div class="small-4 columns" >
    <h2 class="text-center" id="event-header">Events</h2>
  </div>
</div>

<div class="row align-spaced" >
  <div class="small-2 columns" >
  </div>
  <div class="small-4 columns" >
      <%=form_tag search_events_path do %>
        <input id="event-search" name="query" placeholder="Search events" type="text" autocomplete="on">
  </div>
  <div class="small-4 columns align-self-center" >
    <%= submit_tag 'Search', class: "button", id: "event-search-button" %>
    <%end%>
  </div>
</div>


<div class="row">

  <div class="small-3 columns" id="event-index-sidebar">
    <h5><b>Events I'm Organizing:</b></h3>
    <div class="created-events-index-sidebar-div">
      <%= link_to "+  Create an Event", new_event_path,id: "event-create-link"  %>
      <% @created_events.each do |event| %>
        <div class="created-event-index-sidebar-div">
          <%= link_to event.title, event_path(event) %>
          <p>Location: <%= event.location%></p>
          <p class="time-event-index-sidebar">Time: <%= event.date.strftime("%B #{event.date.day.ordinalize}") %>, <%= event.time.strftime('%-I:%M%p') %></p>
          <p class="games-event-index-sidebar">
            Games: <% event.games.each do |game| %>
              <%= game.name %>
            <% end %>
          </p>
        </div>
        <span class="side-bar-linebreak"></span>
      <% end %>
    </div>

    <h5><b>Events I'm attending:</b></h5>
      <% @attended_events.each do |event| %>
        <div class="attending-event-index-sidebar-div">
          <%= link_to event.title, event_path(event) %>
          <p>Location: <%= event.location%></p>
          <p class="time-event-index-sidebar">Time: <%= event.date.strftime("%B #{event.date.day.ordinalize}") %>, <%= event.time.strftime('%-I:%M%p') %></p>
          <p class="games-event-index-sidebar">
            Games: <% event.games.each do |game| %>
              <%= game.name %>
            <% end %>
          </p>
        </div>
        <span class="side-bar-linebreak"></span>
      <% end %>

  </div>

<!-- end sidebar -->

  <div id="event-create-ajax-div">
  </div>

  <div class="small-9 columns">

    <% @events.each do |event| %>

    <div class="posted-event-container">
      <div class="event-index-picture"></div>
      <p class="event-index-title"><%= link_to event.title, event_path(event) %></p>

      <p class="event-index-location"><b>Location:</b> <%= event.location %></p>

      <p class="event-index-games"><b>Games:</b>
        <% event.games.each do |game|%>
          <%=game.name%>
        <%end%>
      </p>

      <p class="event-index-date"><b>Date:</b> <%= event.date.strftime("%B #{event.date.day.ordinalize}") %></p>

      <p class="event-index-time"><b>Time:</b> <%= event.time.strftime('%-I:%M%p') %></p>

      <p class="event-index-limit"><b>Max Participants:</b> <%= event.limit %></p>

      <p class="event-index-user"><b>Created by:</b> <%= link_to User.find(event.user_id).user_name, user_path(event.user_id) %></p>

      <div class="event-index-join"><%= link_to "Join Event!", event_path(event), method: :put, class: "button" %></div>
    </div>

    <% end %>
  </div>

</div>