<h2>Create New Event</h2>

  <%= form_for @event do |f| %>

    <%= f.label :title %>:
  	<%= f.text_field :title %>

    <%= f.label :location %>:
    <%= f.text_field :location %>

    <%= f.label :date %>:
    <%= f.date_field :event_date %>

    <%= f.label :time %>:
    <%= f.time_field :event_time, { :ampm => true } %>

    <%= f.label :description %>:
    <%= f.text_area :description %>

    <% if @games && @games.length > 0 %>
      Games:
      <% @games.each do |game| %>
      <%= check_box_tag "games[]", game.id %>
      <%= game.name %>
      <% end %>
    <% end %>

    <%= f.label "max guests" %>:
    <%= f.number_field :limit %>

    <%= f.button :submit %>

  <% end %>