<div class="row align-center">
	<div class="small-12 columns" id="event-show-title">
		<h2 class="text-center" ><%= @event.title %></h2>
		<h5 class="text-center">
			<%= image_tag("icons/location/location9Brown.png", size: '30', title: "location" ) %>
			<%= @event.venue.address %>
			<%= link_to "map", nil, id: "view-map" %>
		</h5>
		<p class="text-center">
			<%= image_tag("icons/calendars/calendar1.1Brown.png", size: '25', title: "date") %>
			<%= @event.date.strftime("%B #{@event.date.day.ordinalize}") %>
			<%= image_tag("icons/clocks/clock1.1Brown.png", size: '25', title: "time") %>
			<%= @event.time.strftime('%-I:%M%p') %>
			<%= image_tag("icons/shops/shop1Purple.png", size: '30', title: "place" ) %>
       <%= link_to @event.venue.name, venue_path(@event.venue) %>
		</p>
	</div>
		<div class="show-for-small-only" id="venue-games">
			<% if @event.games %>
				<%= image_tag("icons/dice/dice1Green.png", size: '30', title: "games" ) %>
				<%= render partial: 'shared/games', locals: { games: @event.games } %>
			<% else %>
				<%= render partial: 'no_games' %>
			<% end %>
		</div>
</div>

<div class="row align-center">
	<div class="event-show-side">
		<div class="side-1">
		<% if @event.user == current_user %>
			<p class="text-center">Your Event!</p>
			<%= button_to "", event_path(@event), method: :put, title: "Your Event", class: "button your-event", params: {act: "yours"} %>
		<% elsif @event.guests.include?(current_user) %>
			<p class="text-center">Attending!</p>
			<%= button_to "LEAVE!", event_path(@event), method: :put, title: "Leave Event", class: "button leave-event", params: {act: "leave"} %>
		<% elsif @event.full? %>
			<p class="text-center">Event is full</p>
		<% else %>
			<p class="text-center">Not Attending</p>
			<%= button_to "JOIN!", event_path(@event), method: :put, title: "Join Event", class: "button join-event", params: {act: "join"} %>
		<% end %>
		</div>

		<div class="side-2">
		<p class="text-center">
			<%= @event.open_spots %>
			spots left!
		</p>
		
		<% @event.guests.length.times do %>
			<%= image_tag("icons/people/person1.1Purple0.3.png", width: '10', title: "peole") %>
		<% end %>
		<% @event.open_spots.times do %>
			<%= image_tag("icons/people/person1.1Brown0.3.png", width: '10', title: "peole") %>
		<% end %>
		<h5 class="text-center">Players</h5>
		<%@event.guests.each do |guest| %>
			<div class="event-attendee-container text-center">
			<%= link_to guest.user_name, user_path(guest) %>
			</div>
		<% end %>
		</div>
	</div>

	<div id="event-middle">
		<div class="hide-for-small-only" id="venue-games">
			<% if @event.games %>
				<%= image_tag("icons/dice/dice1Green.png", size: '30', title: "games" ) %>
				<%= render partial: 'shared/games', locals: { games: @event.games } %>
			<% else %>
				<%= render partial: 'no_games' %>
			<% end %>
		</div>
		<div class="text-center" id="event-description">
			<h5>Description</h5>
			<p><%= @event.description %></p>
		</div>
	</div>

	<div id="event-right">
		<div id="event-show-comments">
			<% if @event.user == current_user || @event.guests.include?(current_user) %>
				<% @comments.each do |comment| %>
					<div class="event-comment">
						<p class="text-center"><%= comment.body %></p>
						<h6 class="text-center">-<%= link_to comment.username, user_path(comment.user_id) %></h6>
					</div>
				<% end %>
			<% end %>
		</div>
		<div class="text-center" id="event-comment-new">
			<% if @event.user == current_user || @event.guests.include?(current_user) %>
				<%= form_for [@event, @comment] do |f| %>
					<%= f.text_area :body  %>
					<%= f.submit "Comment!", class: "button", id: "comment-button" %>
				<% end %>
			<% end %>
		</div>
	</div>
</div>
