<h1><%= @event.title %></h1>

<%= @event.location %>

<%= @event.event_date %>

<%= @event.event_time %>

<%= @event.description %>

Max Guests: <%= @event.limit %>

<% @event.games.each do |game| %>
	<%= game.name %>
<% end %>
<br>

<% if @event.guests.include?(current_user) %>
	<p>You are already going!</p>
	<%= link_to "Cannot make it", event_path(@event), method: :put %>
<% elsif @event.full? %>
	<p>Event is full :( you cannot join...</p>
<% else %>
	<%= link_to "Join Event!", event_path(@event), method: :put %>
<% end %>

<br>

<% @event.guests.each do |guest| %>
	<%= guest.user_name %>
<% end %>

	<br><hr><br>

<% @comments.each do |comment| %>
	<%= comment.body %>
	<h6>
	<%= comment.username %>
	</h6>
	<br>
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	<br>

<% end %>

New Comment:


<%= form_for [@event, @comment] do |f| %>

	<%= f.text_area :body %>

	<%= f.button :submit %>
<% end %>