
<h2 id="event-show-title"><%= @event.title %></h3>

<div class="row">

	<div class="small-6 columns" id="event-show-content">


		WHERE: <%= @event.location %>

		WHEN:<%= @event.date %>

		<%= @event.time %>

		<%= @event.description %>

		Max Guests: <%= @event.limit %>

		<% @event.games.each do |game| %>
			<%= game.name %>
		<% end %>
		<br>

		<% if @event.guests.include?(current_user) %>
			<p>You are already going!</p>
			<%= link_to "Cannot make it", event_path(@event), method: :delete %>
			<% @event.guests.each do |guest| %>
				<%= guest.user_name %>
			<% end %>
		<% elsif @event.full? %>
			<p>Event is full :( you cannot join...</p>
		<% else %>
			<%= link_to "Join Event!", event_path(@event), method: :put %>
		<% end %>

	</div>
	<br>




	<div class="small-6 columns" id="comment-div">

		<% if @event.guests.include?(current_user) %>
			<% @comments.each do |comment| %>
				<%= comment.body %>
				<h6>
				-<%= comment.username %>
				</h6>
				~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
				<br>

			<% end %>



			<%= form_for [@event, @comment] do |f| %>

				<%= f.text_area :body  %>

				<%= f.button :submit, class: "button", placeholder: "Comment!", id: "comment-button" %>
			<% end %>
		<% end %>

	</div>

</div>