<div class="row align-center">
	<div class="small-8 columns">
		<h2 id="event-show-title"><%= @event.title %></h2>
	</div>
</div>

<div class="row align-center">
	<div class="small-10 columns">
		<h5><%= @event.venue.address %> | <%= @event.date.strftime("%B #{@event.date.day.ordinalize}") %> | <%= @event.time.strftime('%-I:%M%p') %></h5>
	</div>
</div>

<div class="row align-center">
	<div class="small-1 columns"></div>
	<div class="small-3 columns" id="event-show-guest-list">
		<p>Guests: <%= @event.limit %></p>
		<h5><%= @event.guests.length %> People Attending:</h5>
		<%@event.guests.each do |guest| %>
			<div class="event-attendee-container">
			<%= link_to guest.user_name, user_path(guest)%>
			</div>
		<% end %>
	</div>
	<div class="small-1 columns"></div>
	<div class="small-7 columns">
		<div id="venue-games">
			<% if @event.games %>
				<%= render partial: 'shared/games', locals: { games: @event.games } %>
			<% else %>
				<%= render partial: 'no_games' %>
			<% end %>
		</div>
		<p><%= @event.description %></p>
	</div>
</div>


<div class="row">
	
				<div class ="row">
					<% if @event.guests.include?(current_user) %>
						<p>You are already going!</p>
						<%= link_to "Cannot make it", event_path(@event), method: :delete %>
						<% @event.guests.each do |guest| %>
							<%= guest.user_name %>
						<% end %>
					<% elsif @event.full? %>
						<p>Event is full :( you cannot join...</p>
					<% else %>
						<%= link_to "Join Event!", event_path(@event), method: :put %>
					<% end %>
				</div>
			<!-- end left box below picture -->
			</div>


			<!-- end small 9 -->
		</div>
		<!-- end nested row below picture -->
	</div>
	<!-- end outside row -->
</div>

		<div class="row" id="event-show-comment-container">
		<div class="small-3 columns">
		</div>
		<div class="small-5 columns"
			<% if @event.guests.include?(current_user) %>
				<% @comments.each do |comment| %>
					<%= comment.body %>
					<h6>
					-<%= comment.username %>
					</h6>
					~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
					<br>

				<% end %>


				<%= form_for [@event, @comment] do |f| %>

					<%= f.text_area :body  %>

					<%= f.submit "Comment!", class: "button", id: "comment-button" %>
				<% end %>
			<% end %>
			<div class="small-4 columns">
			</div>
		</div>