
  <%= form_for [ @venue, @review ] do |f| %>
    <div>  
      <%= f.label :recommended? %>:
      <%= check_box_tag "review[recommended]", true %>
    </div>
      <%= render 'reviews/rating' %>
      <%= render 'reviews/faces' %>
    <div>
      <%= f.text_area :content, cols: 40, rows: 10, placeholder: "Review here!" %>
    </div>
    <div id="submit-review">
      <%= f.button :submit %>
    </div>
  <% end %>