
  <%= form_for [ @venue, @review ] do |f| %>
    <div>

      <%= f.text_field :vibe, placeholder: "What's the vibe?" %>

      <%= f.label :recommended? %>:
      <%= check_box_tag :recommended, "yes" %>
    </div>
    <div>
      <%= f.text_area :content, cols: 40, rows: 10, placeholder: "Review here!" %>
    </div>
    <div id="submit-review">
      <%= f.button :submit %>
    </div>
  <% end %>