Rate:
  <div id="rating" action="/venues/<%= @venue.id %>" >
  <div class="octopus" id="octopus1">
    <%= image_tag("octopus.png") %>
    <%= radio_button_tag "review[rating]", 1, false, class: "rating-button" %>
  </div>
  <div class="octopus" id="octopus2">
    <%= image_tag("octopus.png") %>
    <%= radio_button_tag "review[rating]", 2, false, class: "rating-button" %>
  </div>
  <div class="octopus" id="octopus3">
    <%= image_tag("octopus.png") %>
    <%= radio_button_tag "review[rating]", 3, false, class: "rating-button" %>
  </div>
  <div class="octopus" id="octopus4">
    <%= image_tag("octopus.png") %>
    <%= radio_button_tag "review[rating]", 4, false, class: "rating-button" %>
  </div>
  <div class="octopus" id="octopus5">
    <%= image_tag("octopus.png") %>
    <%= radio_button_tag "review[rating]", 5, false, class: "rating-button" %>
  </div>
</div>
