<div id="rating">
  <h4>Rating?</h4>

  <div class="octopus" id="octopus1">
    <%= image_tag("octopus.jpg", height: '60', width: '40') %>
    <%= radio_button_tag "review[rating]", 1, false, class: "rating-button" %>
  </div>
  <div class="octopus" id="octopus2">
    <%= image_tag("octopus.jpg", height: '60', width: '40') %>
    <%= radio_button_tag "review[rating]", 2, false, class: "rating-button" %>
  </div>
  <div class="octopus" id="octopus3">
    <%= image_tag("octopus.jpg", height: '60', width: '40') %>
    <%= radio_button_tag "review[rating]", 3, false, class: "rating-button" %>
  </div>
  <div class="octopus" id="octopus4">
    <%= image_tag("octopus.jpg", height: '60', width: '40') %>
    <%= radio_button_tag "review[rating]", 4, false, class: "rating-button" %>
  </div>
  <div class="octopus" id="octopus5">
    <%= image_tag("octopus.jpg", height: '60', width: '40') %>
    <%= radio_button_tag "review[rating]", 5, false, class: "rating-button" %>
  </div>
</div>