<% form_for user, id: 'update-password-form' do |f| %>
	<h2>Change Password</h2>
	<div class="row algin-spaced">
		<div class="small-12 columns">
			<%= f.text_field :old_password, placeholder: "Old Password", required: true, title: "Old Password" %>
		</div>
		<div class="small-12 columns">
			<%= f.text_field :new_password, placeholder: "New Password", required: true, title: "New Password" %>
		</div>
		<div class="small-12 columns">
			<%= f.text_field :password_confirmation, placeholder: "Confirm New Password", required: true, title: "Confirm Password" %>
		</div>
		<div class="small-12 medium-6 columns">
			<%= f.submit "Update Password", class: 'button large', id: "edit-user-button" %>
		</div>
		<div class="small-12 medium-6 columns">
		<%= link_to "cancel", "", id: "cancel-password-change" %>
		</div>
	</div>
<% end %>