<div id="register-form" class="small-12 small-centered text-center columns">
  <div class="login-register" class="medium-3 medium-centered text-center columns">
    <%=form_for @user do |f| %>
      <p>

        <%= f.text_field :user_name, placeholder: "User Name" %>
      </p>
      <p>
        <%= f.email_field :email, placeholder: "Email", pattern: "^[a-z0-9._%+-]+@[a-z0-9.-]+.[a-z]{2,4}$"%>
      </p>
      <p>
        <%= f.password_field :password, placeholder: "Password" %>
      </p>
      <p>
        <%= f.submit "Register", class: 'button' %>
      </p>
  </div>
<% end %>
</div>