<div class="row align-spaced">
	<% if @user == current_user %>
		<div class="small-8 medium-10 large-6 columns text-center">
			<h2>Welcome</h2>
		</div>
	<% else %>
		<div class="small-10 large-6 columns text-center">
			<h2><%= @user.user_name%>'s profile!</h2>
		</div>
	<% end %>
	
</div>

<div class="row align-spaced">
	<div class="columns text-center" id="profile-pic">
		<% if @user.photo.file? %>
			<%= image_tag @user.photo.url(:medium) %>
		<% else %>
			<%= render partial: 'shared/no_photo_added' %>
		<% end %>
	</div>
	<div class="columns">
		<p><%=@user.bio%></p>
	</div>
</div>

<div id="edit-user-profile-box"></div>
	<% if @user == current_user %>
		<%= render partial: 'own_profile', locals: { user: @user } %>
	<% elsif logged_in? %>
		<%= render partial: 'other_profile', locals: { user: @user } %>
<% end%>
<!-- *************************************************** -->
