<h3>Welcome, <%=@user.user_name%>!</h3>

<div><%=link_to("Venues", venues_path)%></div>
<div><%=link_to("Events", events_path)%></div>
<%= link_to "logout", logout_path, controller: "sessions", action: :destroy, method: :delete, id: "logout-link" %>

<% if @user.photo.file? %>
	<%= image_tag @user.photo.url(:thumb) %>
	<% else %>
	<p>No Picture Uploaded</p>
<% end %>

<h4>Favorites<h4>
<% if @user.has_favorites? %>
	<% @favorites.each do |favorite| %>
		<%= link_to(favorite.name, venue_path(favorite)) %>
	<% end %>
<% else %>
	<p>You have no favorites :(</p>
<% end %>

<h4>Upcoming Events</h4>
<% if @user.has_upcoming_events? %>
	<% @upcoming_events.each do |event| %>
		<%= link_to(event.title, event_path(event)) %>
	<% end %>
<% else %>
	<p>You have no upcoming events :(</p>
<% end %>

<h4>Your Events</h4>
<% if @user.has_created_events? %>
	<% @created_events.each do |event| %>
		<%= link_to(event.title, event_path(event)) %>
	<% end %>
<% else %>
	<p>You have not created events :(</p>
<% end %>