<%- title "#{current_user.user_name}" %>
<div class="row align-spaced user-show-top small-collapse">
	<div class="columns top-1">
		<h2 class="text-center"><%= @user.user_name %></h2>
		<% if @user == current_user %>
		<p class="text-center"><%= link_to "Edit Profile", edit_user_path(current_user.id), id: "edit-own-profile", name: "#{current_user.id}" %></p>
		<% end %>
	</div>

	<div class="columns text-center self-align-bottom" id="profile-pic">
			<%= image_tag @user.photo.url(:small) %>
	</div>
	<div class="columns user-bio">
		<% @user.display_bio.each do |line| %>
			<div><p><%= line %></p></div>
		<% end %>
	</div>
</div>

<div id="edit-user-profile-box"></div>
	<% if @user == current_user %>
		<%= render partial: 'own_profile', locals: { user: @user } %>
	<% elsif logged_in? %>
		<%= render partial: 'other_profile', locals: { user: @user } %>
<% end%>
