<%= form_for @venue, :html => {:id => "venue-create-form"} do |f| %>
<h4>Venue Details</h4>
<div class="row">
	<div class="small-12 medium-5 columns">
		<%= f.text_field :name, required: true, placeholder: "Name" %>
		<%= f.text_field :address, required: true, placeholder: "Address" %>
		<%= f.text_field :neighborhood, required: true, placeholder: "neighborhood" %>
		<div class="results" id="add-venue-neighborhood-results">
		</div>
	</div>

	<div class="small-12 medium-7 columns">
		<div class="row">
			<div class="small-7 columns">
				<%= f.text_field "game", placeholder: "Add A Game!", id: "other-text-field" %>
				<div class="results" id="add-venue-game-results">
				</div>
			</div>
			<div class="small-5 columns">
				<%= f.button "Add Game!", class: "button", id: "add-new-game" %>
			</div>
		</div>
  	<div id="venue-create-games">
  	</div>
	</div>
</div>


<%= f.text_field :place, type: 'hidden' %>
<div class="row align-spaced">
	<div class="small-8 medium-4 columns">
		<%= f.submit "Add venue!", class: "button submit-button", id: "venue-create-submit-button" %>
	</div>
</div>
<% end %>