<div class="row text-center align-spaced" id="venue-header" >
	<!-- <div class="small-1 columns"></div> -->
	<div class="small-8 small-order-2 medium-3 medium-order-1 columns align-center" >
		<div id="avg-rating">
			<% if @venue.has_reviews? %>
				<%= render partial: 'venue_rating', locals: { current_rating: @current_rating } %>
				<% else %>
				<%= render partial: 'venue_rating', locals: { current_rating: 0 } %>
			<% end %>
		</div>
	</div>

	<div class="small-12 small-order-1 medium-order-2 medium-expand columns">
		<h2 class="text-left" id="venue-name"><%= @venue.name %></h2>
		<div class="row align-center" >
			<!-- <div class="small-1 columns" ></div> -->
			<div class="small-12 columns" >
				<p class="text-left" id="venue-address"><%= @venue.address %> <%= link_to "map", nil, id: "view-map" %></p>
				<div id="venue-games">
					<% if @venue.has_games? %>
						<%= render partial: 'shared/games', locals: { games: @venue.games } %>
					<% else %>
						<%= render partial: 'no_games' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
<!-- 	<div class="small-2 columns" %>
	</div> -->
</div>

<div class="row align-spaced" id="venue-show-button-row">
	<div class="show-for-large large-1 columns" >
	</div>
	<div class="small-9 medium-4 large-3 columns" >
		<%= link_to "Create an Event", new_event_path, class: "button", id: "venue-event-create-link"  %>
		<%= render partial: 'events/event_create' %>
	</div>
	<div class="small-9 medium-3 large-2 columns" >
		<%= link_to "Review!", new_venue_review_path(@venue.id), class: "button", id: "new-review-button" %>
		<div id="new-review-form" >
			<%= render partial: 'reviews/new'%>
		</div>
	</div>
	<div class="small-9 medium-4 large-3 columns" >
		<div id="favorite">
			<% if current_user && current_user.has_favorited?(@venue) %>
				<%= render partial: 'users/favorite_added' %>
			<% elsif current_user %>
				<%= render partial: 'users/favorite_removed' %>
			<% end %>
		</div>
	</div>
	<div class="show-for-large large-1 columns" >
	</div>
</div>


