<div class="row align-center" id="venue-header" >
	<div class="small-2 columns">
		<div id="avg-rating">
			<% if @venue.has_reviews? %>
				<%= render partial: 'venue_rating', locals: { current_rating: @current_rating } %>
				<% else %>
				<p>Not Yet Rated</p>
			<% end %>
		</div>
	</div>
	<div class="small-6 columns">
		<h2 class="text-right"><%= @venue.name %></h2>
		<div class="row align-center" >
			<div class="small-2 columns" ></div>
			<div class="small-10 columns" >
				<p class="text-center"><%= @venue.address %></p>
			</div>
		</div>
	</div>
	<div class="small-3 columns" %>
		<div id="favorite">
		<% if current_user && current_user.has_favorited?(@venue) %>
			<%= button_to "Remove From My Venues", user_path(current_user), method: :put, id: "fav", params: { venue: @venue } %>
		<% elsif current_user %>
			<%= button_to "Add To My Venues", user_path(current_user), method: :put, id: "fav", params: { venue: @venue } %>
		<% end %>
		</div>
	</div>
</div>

<div class="row" >
	<div class="small-2 small-centered columns">
	</div>
	<div class="small-8 small-centered columns">
	</div>
	<div class="small-2 small-centered columns">
	</div>
</div>

