<div class="row">
	<h3><%= @venue.name %></h3>
</div>

<div class="row text-center" id="venue-header" >
	<div class="small-1 columns"></div>
	<div class="small-3 columns align-center" >
		<div id="avg-rating">
			<% if @venue.has_reviews? %>
				<%= render partial: 'venue_rating', locals: { current_rating: @current_rating } %>
				<% else %>
				<p>Not Yet Rated</p>
			<% end %>
		</div>
	</div>
	<div class="small-6 columns">
		<h3 class="text-left"><%= @venue.name %></h3>
		<div class="row align-center" >
			<div class="small-1 columns" ></div>
			<div class="small-11 columns" >
				<p class="text-left"><%= @venue.address %></p>
				<div id="venue-games">
					<h2 class="text-left">Games</h2>
					<% if @venue.has_games? %>
						<%= render partial: 'games', locals: { venue: @venue} %>
					<% else %>
						<%= render partial: 'no_games' %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
	<div class="small-2 columns" %>
		<div id="favorite">
		<% if current_user && current_user.has_favorited?(@venue) %>
			<%= render partial: 'users/favorite_added' %>
		<% elsif current_user %>
			<%= render partial: 'users/favorite_removed' %>
		<% end %>
		</div>
	</div>
</div>

<div class="row align-center">
	<div class="small-6 columns text-center" >
		
	</div>
</div>


