<div class="row align-center" >
	<div class="small-4 columns" >
		<h2 class="text-center">Venues</h2>
	</div>
</div>

<div class="row align-spaced" >
	<div class="small-2 columns">
<!-- 		<%=link_to("Add New Venue!", new_venue_path, class: "button venue-index-head") %>
	</div>
	<div class="small-4 columns" >
		<%=form_tag search_venues_path do %>
		  <input id="venue_search" name="query" placeholder="Search venues" type="text" autocomplete="on" class="venue-index-head">
	</div>
	<div class="small-4 columns align-self-center" >
			<%= submit_tag 'Search', class: "button venue-index-head" %>
		<% end %> -->
		<div class="venues-search">
			<input id="venues-search-txt" autofocus autocomplete="on">
			<div class="results" id="venues-search-results"></div>
		</div>
	</div>
</div>


<script type="text/javascript" charset="utf-8">
  $('#venues-search-txt').bind('railsAutocomplete.select', function(event, data){
  // $('#search-form').submit()
  });
</script>

<div class="row" >
	<div class="small-3 columns" id="venue-index-fav">
		<h2 class="text-center">My Venues</h2>
		<div id="venue-fav-sidebar">
			<% @favorites.each do |fav| %>
				<%= render partial: 'favorite_display', locals: { favorite: fav } %>
			<% end %>
		</div>
	</div>

	<div class="small-8 columns" >
		<% @venues.each do |venue| %>
  		<%= render partial: 'venue_display', locals: { venue: venue } %>
		<% end %>
	</div	>
</div>