
<h2>Add a venue!</h2>

  <%= form_for @venue do |f| %>
  <div>
    <%= f.label :name %>:
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :address %>:
    <%= f.text_field :address %>
  </div>
  <div>
    Games:
    <% if @games && @games.length > 0 %>
      <% @games.each do |game| %>
        <%= check_box_tag "games[]", game.id %>
        <%= game.name %>
      <% end %>
    <% end %>
  </div>
  <div id="new-game">
    <%= f.label :other %>:
    <%= check_box_tag :other, 1 %>
    <%= f.text_field "game" %>
  </div>
  <div>
    <%= f.label :description %>:<br>
    <%= f.text_area :description, size: "40x5" %>
  </div>
  <div>
    <%= f.button :submit %>
  </div>
  <% end %>

<input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKbw_KdUjv9tX0YJFvT1AOe3nI82-Osvw&libraries=places&callback=initMap"
         async defer></script>
