<h2>Add a venue!</h2>

  <%= form_for @venue do |f| %>
  <div>
    <%= f.label :name %>:
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :neighborhood %>:
    <%= f.text_field :neighborhood %>
  </div>
  <div>
    <%= f.label :address %>
    <%= f.text_field :address %>
  </div>
    <%= f.label :description %>
    <%= f.text_area :description %>
  <div>
    <%= f.button :submit %>
  </div>
  <% end %>
