
<h2>Add a venue!</h2>

  <%= form_for @venue, :html => {:id => "venue-create-form"} do |f| %>
  <div id="venue-name-field">
    <!-- <%= f.label :name %>: -->
    <%= f.text_field :name %>
  </div>
  <div id="venue-address-field">
    <!-- <%= f.label :address %>: -->
    <%= f.text_field :address %>
  </div>
  <div>
    Games:
    <% if @games && @games.length > 0 %>
      <% @games.each do |game| %>
        <%= check_box_tag "venue[games][]", game.id %>
        <%= game.name %>
      <% end %>
    <% end %>
  </div>
  <div id="new-game">
    <%= f.label :other %>:
    <%= check_box_tag :other, 1 %>
    <%= f.text_field "game" %>
  </div>
  <div>
    <%= f.button :submit %>
  </div>
  <% end %>
    <% if @errors %>
      <% @errors.each do |message| %>
        <%= message %>
      <% end %>
    <% end %>

<div id="google-map">
<input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKbw_KdUjv9tX0YJFvT1AOe3nI82-Osvw&libraries=places&callback=initMap"
         async defer></script>
<div>