<div class="top-bar">
  <div class="row small-up-1 small-collapse expanded" id="header-images">
    <div class="columns header-image" id="octopus-head-image">
      <%= link_to image_tag("octopusHeaderGlassesOn.png"), root_path, id: 'octopus-1' %>
      <%= link_to image_tag("octopusHeaderGlassesOff.png"), root_path, id: 'octopus-2' %>
    </div> 
    <div class="columns header-image" id="head-image-text">
      <%= link_to image_tag("headerImageNoOctopus.png"), root_path %>
    </div>
  </div>

  <div class="row small-up-1 medium-up-2 small-collapse align-spaced expanded" id="header-bottom">
    <div class="medium-order-2 columns" id="topbar-row-two">
      <ul class="menu horizontal align-self-center has-dropdown" id="nav">
        <% if logged_in? %>
          <li><%= link_to "#{current_user.user_name}<span class='arrow'>&#9660;</span>".html_safe, nil, id: "user", class: "dropdown-arrow" %>
            <ul class="header-dropdown">
              <li><%= link_to "Profile", user_profile_path(current_user) %></li>
              <% if @show %>
                <li><%= link_to "Edit Profile", edit_user_path(current_user), id: "edit-user-profile", name: "#{current_user.id}" %></li>
              <% end %>
              <li><%= link_to "logout", logout_path(current_user), controller: "sessions", action: :destroy, method: :delete, id: "logout-link" %></li>
              <li><%= link_to "delete profile", user_path(current_user), method: :delete, id: "delete-user-profile" %></li>
            </ul>
          </li>
        <% end %>
        <li><%= link_to "Venues", venues_path, id: "venues" %></li>
        <li><%= link_to "Events", events_path, id: "events" %></li>
        <li><%= link_to "About", about_index_path, id: "about" %></li>
        <li><%= link_to "Contact", contact_index_path, id: "contact" %></li>
        <% if !logged_in? %>
          <li><%= link_to "Login", root_path %></li>
        <% end %>
      </ul>
    </div>

    <div class="medium-order-1 columns" id="topbar-row-three">
      <%= render partial: '/shared/search_form' %>
    </div>
  </div>
</div>