<script type="text/javascript" charset="utf-8">
  var eventsFound = []

  $(document).ready(function(){
    target = window.location.search
    serialized = target.substring(1, target.length)
    $.ajax({
    	url: "/events/results",
    	type: "post",
    	data: serialized,
    	dataType: "json"
    }).done(function(response){
    	eventsFound = response
    })
  });
</script>

<div class="row align-spaced">
	<div class="small-10 medium-3 text-center columns">
		<%= link_to "+ Event", new_event_path, class: "button index-create-button", id: "event-create-link"  %>
	</div>
  <div class="columns" id="event-create-box">
  	<%= render partial: 'event_create' %>
  </div>
</div>

<div class="row align-spaced" >
  <div class="small-12 columns text-center" id="toggle-venue-view-links">
    <p><%= link_to "List View", nil, id: "list" %> | <%= link_to "Map View", nil, id: "map" %></p>
  </div>
</div>

<div id="list-map">
  <div class="view-box" id ="list-box">
    <%= render partial: 'list' %>
  </div>
  <div class="view-box" id="map-box">
    <%= render partial: 'map' %>
  </div>
</div>