<%- title "Events" %>

<% if @event.deleted %> 
	<div class="row align-center show-box deleted-event">
<% else %>
	<div class="row align-center show-box">
<% end %>
	<div class="small-12 columns" id="event-show-title">
		<h2 class="text-center" ><%= @event.title %></h2>
		<h5 class="text-center">
			<%= image_tag("icons/location/brown.png", size: '30', title: "location" ) %>
			<%= @event.venue.address %>
			<%= link_to "map", nil, id: "view-map" %>
		</h5>
		<p class="text-center">
			<%= image_tag("icons/calendars/brown.png", size: '25', title: "date") %>
			<%= @event.date.strftime("%B #{@event.date.day.ordinalize}") %>
			<%= image_tag("icons/clocks/brown.png", size: '25', title: "time") %>
			<%= @event.time.strftime('%-I:%M%p') %>
			<br class="show-for-small-only">
			<%= image_tag("icons/shops/purple.png", size: '30', title: "place" ) %>
       <%= link_to @event.venue.name, venue_path(@event.venue) %>
		</p>
	</div>
	<div class="show-for-small-only" id="venue-games">
		<% if @event.games %>
			<%= image_tag("icons/dice/green.png", size: '30', title: "games" ) %>
			<%= render partial: 'shared/games', locals: { games: @event.games } %>
		<% else %>
			<%= render partial: 'no_games' %>
		<% end %>
		<div>
			<%= link_to "Add Games!", nil, id: "add-games" %>
		</div>
	</div>
</div>
<div id="view-venue-on-map">
	<input id="place-id" type="hidden" value="<%=@event.venue.place %>" />
	<div id="show-map"></div>
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKbw_KdUjv9tX0YJFvT1AOe3nI82-Osvw&amp;libraries=places">
  </script>
</div>

<div id="edit-event-box"></div>

<div class="row align-center">
	<% if @event.deleted %>
		<div class="event-show-side cancel-fade">
	<% else %>
		<div class="event-show-side">
	<% end %>
		<div class="side-1 event-status">
			<% if @event.deleted == false %>
				<% if @event.user == current_user %>
					<p class="text-center">Your Event!</p>
					<%= render partial: 'user_event_buttons', locals: { event: @event } %>
				<% elsif @event.attending_event?(current_user) %>
					<p class="text-center">Attending!</p>
					<%= render partial: 'leave_event_button', locals: { event: @event } %>
				<% elsif @event.full? %>
					<p class="text-center">Event is full</p>
				<% else %>
					<p class="text-center">Not Attending</p>
					<%= render partial: 'join_event_button', locals: { event: @event } %>
				<% end %>
			<% end %>
		</div>

		<div class="side-2 text-center">
		<p class="">
			<span class="spots-left"><%= @event.open_spots %></span>
			spots left!
		</p>
		
		<% @event.guests.length.times do %>
			<%= image_tag("icons/people/purple0.3.png", width: '10', title: "peole", class: "guest-pic taken-guest") %>
		<% end %>
		<% @event.open_spots.times do %>
			<%= image_tag("icons/people/brown0.3.png", width: '10', title: "peole", class: "guest-pic empty-guest") %>
		<% end %>
		<h5 class="text-center">Players</h5>
		<% @event.guests.each do |guest| %>
			<%= render partial: 'event_attendee', locals: { guest: guest } %>
		<% end %>
		</div>
	</div>

	<div id="event-middle" class="text-center">
		<div class="hide-for-small-only" id="venue-games">
			<% if @event.games %>
				<%= image_tag("icons/dice/green.png", size: '30', title: "games" ) %>
				<%= render partial: 'shared/games', locals: { games: @event.games } %>
			<% else %>
				<%= render partial: 'no_games' %>
			<% end %>
		</div>
		<div class="text-center" id="event-description">
			<h5>Description</h5>
			<% @event.split_description.each do |line| %>
				<p><%= line %></p>
			<% end %>
		</div>
		<p>hosted by: <%= link_to @event.user.user_name, user_profile_path(@event.user) %></p>
	</div>

	<div id="event-right">
		<%= render partial: 'event_show_right', locals: { event: @event, comment: @comment } %>
	</div>
</div>
