<div class="top-bar">
  <div class="row small-up-1 small-collapse expanded">
    <div class="columns">
      <%= link_to image_tag("header2.png"), method: "get", action: "index", controller: "welcome" %>
    </div>
  </div>

  <div class="row small-up-1 medium-up-2 small-collapse align-spaced" id="header-bottom">
    <div class="medium-order-2 columns" id="topbar-row-two">
      <ul class="menu horizontal align-self-center" id="nav">
        <% if logged_in? %>
        <li><%= link_to "#{current_user.user_name}<span class='arrow'>&#9660;</span>".html_safe, nil, id: "user" %>
          <ul class="header-dropdown">
            <li><%= link_to "Profile", user_path(current_user.id) %></li>
            <% if @show %>
            <li><%= link_to "Edit Profile", edit_user_path(current_user), id: "edit-user-profile", name: "#{current_user.id}" %></li>
            <% end %>
            <li><%= link_to "logout", logout_path(current_user), controller: "sessions", action: :destroy, method: :delete, id: "logout-link" %></li>
            <li><%= link_to "delete profile", user_delete_profile_path(current_user), method: :put, id: "delete-user-profile" %></li>
          </ul>
        </li>
        <% end %>
        <li><%= link_to "Venues", venues_path, id: "venues" %></li>
        <li><%= link_to "Events", events_path, id: "events" %></li>
        <li><%= link_to "About", about_index_path, id: "about" %></li>
        <li><%= link_to "Contact", contact_index_path, id: "contact" %></li>
        <% if !logged_in? %>
          <li><%= link_to "Login", login_path, id: "user" %></li>
        <% end %>
      </ul>
    </div>

    <div class="medium-order-1 columns" id="topbar-row-three">
      <%= render partial: '/shared/search_form' %>
    </div>
  </div>
</div>