<div class="top-bar show-for-small-only">
	<div class="row">
		<div class="small-3 columns">
			<a href="/"><%= image_tag("octopus.png") %></a>
		</div>
		<div class="small-9 columns">
			<h3><%= link_to "Pub Gamer", root_path %></h3>
		</div>
	</div>

	<div class="row align-center">
		<div class="small-12 text-center columns">
			<ul class="menu horizontal align-self-center">
				<li><%= link_to "About" %></li>
				<li><%= link_to "Events", events_path, id: "events" %></li>
				<li><%= link_to "Venues", venues_path, id: "venues" %></li>
				<li><%= link_to "Contact" %></li>
				<% if logged_in? %>
					<li><%= link_to "profile", user_path(current_user.id), id: "user" %></li>
				<% end %>
			</ul>
		</div>
	</div>
</div>


<div class="side-bar show-for-medium">
<a href="/"><%= image_tag("octopus.png") %></a>
<h3><%= link_to "Pub Gamer", root_path %></h3>
	<ul>
		<li><%= link_to "About Us" %></li>
		<li><%= link_to "Events", events_path, id: "events" %></li>
		<li><%= link_to "Venues", venues_path, id: "venues" %></li>
		<li><%= link_to "Contact" %></li>
	</ul>
</div>