
<div class="top-bar">
<%= image_tag("octopus.png") %>
<h3><%= link_to "Pub Gamer", root_path %></h3>
	<ul>
		<li><%= link_to "About Us" %></li>
		<li><%= link_to "Events", events_path, id: "events" %></li>
		<li><%= link_to "Venues", venues_path, id: "venues" %></li>
			<% if current_user %></li>
				<li><%= link_to "#{current_user.user_name}", user_path(current_user), id: "#{current_user.id}" %></li>
				<li><%= link_to "Logout", logout_path, method: :delete %></li>
			<% else %>
				<li><%= link_to "login", root_path %></li>
			<% end %>
		<li><%= link_to "Contact" %></li>
	</ul>
</div>