<!-- mobile/small navbar + header -->
<div class="top-bar show-for-small-only">
	<div class="row small-collapse">
		<div class="small-12 columns">
			<%= link_to image_tag("topbarBannerOrange.png"), method: "get", action: "index", controller: "welcome" %>
		</div>
	</div>

	<div class="row small-collapse align-center">
		<div class="small-12 text-center columns">
			<ul class="menu horizontal align-self-center">
				<% if logged_in? %>
					<li><%= link_to "Profile", user_path(current_user.id), id: "user" %></li>
				<% end %>
				<li><%= link_to "Venues", venues_path, id: "venues" %></li>
				<li><%= link_to "Events", events_path, id: "events" %></li>
				<li><%= link_to "About" %></li>
				<li><%= link_to "Contact" %></li>
			</ul>
		</div>
	</div>

	<div class="row small-collapse">
		<div class="small-12 columns">
			<%= render partial: '/shared/search_form' %>
		</div>
	</div>
</div>


<!-- Desktop navbar -->
<div class="side-bar show-for-medium">
<a href="/"><%= image_tag("octopus.png") %></a>
<h3><%= link_to "Pub Gamer", root_path %></h3>
	<ul>
		<li><%= link_to "About Us" %></li>
		<li><%= link_to "Events", events_path, id: "events" %></li>
		<li><%= link_to "Venues", venues_path, id: "venues" %></li>
		<li><%= link_to "Contact" %></li>
	</ul>
</div>