
<div class="top-bar">
<a href="/"><%= image_tag("octopus.png") %></a>
<h3><%= link_to "Pub Gamer", root_path %></h3>
	<ul>
		<li><%= link_to "About Us" %></li>
		<li><%= link_to "Events", events_path, id: "events" %></li>
		<li><%= link_to "Venues", venues_path, id: "venues" %></li>
		<li><%= link_to "Contact" %></li>
	</ul>
</div>