<nav>
	<%= link_to "Events", events_path %>
	<%= link_to "Venues", venues_path %>
	<% if current_user %>
		<%= link_to "profile", user_path(current_user) %>
		<%= link_to "logout", logout_path, method: :delete %>
	<% else %>
		<%= link_to "login", root_path %>
	<% end %>
</nav>
