<div class="octopuzzle">
	<h1>OctoPuzzle</h1>

	<div class="puzzle-box">
		<div id="1" class="puzzle-piece">
			<%= image_tag("puzzle/octoPuzzle1Square1.png") %>
		</div>
		<div id="2" class="puzzle-piece">
			<%= image_tag("puzzle/octoPuzzle1Square2.png") %>
		</div>
		<div id="3" class="puzzle-piece">
			<%= image_tag("puzzle/octoPuzzle1Square3.png") %>
		</div>
		<div id="4" class="puzzle-piece">
			<%= image_tag("puzzle/octoPuzzle1Square4.png") %>
		</div>
		<div id="5" class="puzzle-piece">
			<%= image_tag("puzzle/octoPuzzle1Square5.png") %>
		</div>
		<div id="6" class="puzzle-piece">
			<%= image_tag("puzzle/octoPuzzle1Square6.png") %>
		</div>
		<div id="7" class="puzzle-piece">
			<%= image_tag("puzzle/octoPuzzle1Square7.png") %>
		</div>
		<div id="8" class="puzzle-piece">
			<%= image_tag("puzzle/octoPuzzle1Square8.png") %>
		</div>
		<div id="9" class="puzzle-piece">
			<%= image_tag("puzzle/octoPuzzle1Square9.png") %>
		</div>	
	</div>
	<div class="win-message">
		WIN
	</div>

	<div>
		<button id="octopuzzle-start-button" class="button">Start!</button>
		<button id="octopuzzle-reset-button" disabled="true" class="button">Reset</button>
	</div>
</div>