<div class="columns index-box fav-holder">
		<div class="user-status">
			<% if current_user %>
				<% if current_user.has_favorited?(venue) %>
					<%= render partial: 'remove_favorite_heart', locals: { venue: venue } %>
				<% else %>
					<%= render partial: 'add_favorite_heart', locals: { venue: venue } %>
				<% end %>
			<% end %>
		</div>
	<div class="index-left">
		<div class="index-pic">
			<%= render partial: 'shared/no_photo_added' %>
		</div>
	</div>
	
	<div class="index-right">
		<div class="index-title text-center">
			<h5><%=link_to(venue.name, venue_path(venue))%></h5>
		</div>
	</div>
		
	<div class="venue-index-games index-middle text-left index-games">
		<% if venue.has_games? %>
			<%= image_tag("icons/dice/purple.png", size: '30', title: "games" ) %>
			<%= render partial: 'shared/games', locals: { games: venue.games } %>
		<% else %>
			<%= render partial: 'no_games' %>
		<% end %>
	</div>
	
	<div class="index-bottom">
		<p class="index-location">
			<%= image_tag("icons/location/purple.png", size: '30', title: "location" ) %>
			<%= venue.address %>
		</p>

		<div class="venue-index-rating-box">
			<div class="venue-index-avg-rating" value="<%= venue.avg_rating %>">
		  	<div class="dimmed"></div>
		  	<div class="opaque"></div>
			</div>
			<script>
				IndexOctopusRating();
			</script>
		</div>
		<div class="index-bottom-notice">
			<p class="fav-notice"></p>
		</div>
	</div>
</div>