<script type="text/javascript" charset="utf-8">
  var venuesFound = []

  $(document).ready(function(){
    target = window.location.search
    serialized = target.substring(1, target.length)
    $.ajax({
    	url: "/venues/results",
    	type: "post",
    	data: serialized,
    	dataType: "json"
    }).done(function(response){
    	venuesFound = response
    })
  });
</script>


<div class="row align-spaced" >
	<div class="small-8 medium-3 text-center columns">
		<%=link_to("+ Venue", new_venue_path, class: "button index-create-button", id: "venue-create-link") %>
	</div>
</div>

<div class="row align-spaced" >
	<div class="small-12 columns text-center" id="toggle-venue-view-links">
		<p><%= link_to "List View", nil, id: "list" %> | <%= link_to "Map View", nil, id: "map" %></p>
	</div>
</div>

<%= render partial: 'shared/error_display', locals: { errors: @errors } %>

<div id="list-map">
	<div class="view-box" id ="list-box">
		<%= render partial: 'list' %>
	</div>
	<div class="view-box" id="map-box">
		<%= render partial: 'map' %>
	</div>
</div>
