<div class="user-status fav-holder">
	<% if current_user.has_favorited?(venue) %>
		<%= render partial: 'remove_favorite_heart', locals: { venue: venue } %>
	<% else %>
		<%= render partial: 'add_favorite_heart', locals: { venue: venue } %>
	<% end %>
<div class="show-favorite-notice">
	<p class="fav-notice"></p>
</div>
</div>

<div class="row text-center align-spaced" id="venue-header" >
	<div class="small-12 small-order-2 medium-3 medium-order-1 columns align-center" >
		<div id="avg-rating">
			<% if venue.has_reviews? %>
				<%= render partial: 'venue_rating', locals: { current_rating: @current_rating } %>
				<% else %>
				<%= render partial: 'venue_rating', locals: { current_rating: 0 } %>
			<% end %>
		</div>

		<div id='user-report-box'>
		</div>

	</div>

	<div class="small-12 small-order-1 medium-order-2 medium-expand columns">
		<ul id="venue-show-list">
			<li>
				<h2 class="text-left" id="venue-name"><%= link_to "<span class='arrow'>&#9660;</span> #{venue.name}".html_safe, nil, class: "dropdown-arrow" %></h2>
					<ul id="venue-show-dropdown">
						<li><%= link_to "Create Event", new_event_path, id: "venue-event-create-link" %></li>
						<li><%= link_to "Events", venue_events_path(venue), id: "venue-event-index-button" %></li>
					</ul>
			</li>
		</ul>
		<div class="row align-center">
			<div class="small-12 columns" >
				<p class="text-left" id="venue-address">
					<%= link_to "map", nil, id: "view-map" %>
					<%= image_tag("icons/location/brown.png", size: '30', title: "location" ) %>
					<span id="get-venue-address"><%= venue.address %></span>
				</p>
				<div id="venue-games">
					<% if venue.has_games? %>
						<%= image_tag("icons/dice/brown.png", size: '30', title: "games" ) %>
						<%= render partial: 'shared/games', locals: { games: venue.games } %>
					<% end %>
					<%= link_to "Add Games!", nil, id: "add-game-link" %>
				</div>
				<div>
					<%= form_for venue, html: { id: "add-games"} do |f| %>
						<%= f.hidden_field :exists, value: "yes" %>
						<%= f.hidden_field :id, value: "#{venue.id}" %>
						<%= f.text_field "game", placeholder: "Add A Game!", id: "add-game-input" %>
						<div class="results" id="add-game-results">
						</div>
						<%= f.submit "Add Game!", id: "add-game-button" %>
					<% end %>
				</div>
				<%= link_to "cancel", nil, id: "cancel-add-game-link" %>
			</div>
		</div>
	</div>
</div>

<div id="view-venue-on-map">
	<input id="place-id" type="hidden" value="<%= venue.place %>" />
	<div id="show-map">
	</div>
	<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GMaps_key'] %>&libraries=places">
  </script>
</div>

<div id="new-review-form" >
	<%= render partial: 'reviews/new', locals: { vibes: vibes } %>
</div>
	
<%= render partial: 'events/event_create' %>


