
<div id="venue-show">

<%- title "Venues" %>
	<%= render partial: 'venue', locals: { venue: @venue, vibes: @vibes } %>

	<div class="row align-spaced" >
		<div class="small-12 medium-4 text-center columns" >
			<h2>Reviews</h2>
			<% if notice %>
				<% notice.each do |error| %>
					<p><%= error %></p>
				<% end %>
			<% end %>
		</div>
	</div>

	<div id="reviews">
		<div id="full-review-container">
			<div id="full-review-content">
			</div>
		</div>
				<div id="review-index">
		<div class="row small-up-1 medium-up-3 large-up-4 small-collapse align-spaced review-show-row">
			<% if @venue.has_reviews? %>
  				<%= render partial: 'reviews/index', locals: { reviews: @reviews } %>
  				<%= will_paginate @reviews %>
  		<% else %>
  				<%= render partial: 'no_reviews' %>
			<% end %>
				</div>
		</div>
	</div>
</div>