
<div id="venue-show">

<%- title "Venues" %>
	<%= render partial: 'venue', locals: { venue: @venue, vibes: @vibes } %>

	<div class="row align-spaced review-header" >
		<div class="small-12 medium-6 text-center columns" >
			<h3>Reviews</h3>
			<%= link_to "+ Review", new_venue_review_path(@venue.id), class: "button new-review-button" %>
		</div>
	</div>

	<div id="reviews">
		<div id="full-review-container">
			<div id="full-review-content">
			</div>
		</div>
				<div id="review-index">
		<div class="row small-up-1 medium-up-3 large-up-4 small-collapse align-spaced review-show-row">
			<% if @venue.has_reviews? %>
  				<%= render partial: 'reviews/index', locals: { reviews: @reviews } %>
  				<%= will_paginate @reviews %>
  		<% else %>
  				<%= render partial: 'no_reviews' %>
			<% end %>
				</div>
		</div>
	</div>
		<div class="row columns text-center venue-show-bottom" >
		<p>Inaccurate information about this venue?</p>
		<%= link_to "Report Venue", user_report_inaccuracy_path(current_user.id, @venue), class: "report-inaccurate-button" %>
	</div>
</div>