<%= form_for [ @venue, @review ] do |f| %>
  <div class="row align-middle align-center">
  	<div class="small-12 medium-8 colums" >
 	    <%= render partial: 'reviews/rating' %>
    </div>
    <div class="small-4 show-for-small-only">
      <h5>When:</h5>
    </div>
    <div class="small-8 medium-4 columns" >
      <h5 class="hide-for-small-only">When:</h5>
     	<%= render partial: 'reviews/week' %>
    </div>
    <div class="small-12 medium-6 columns" >
      <%= render partial: 'reviews/vibe', locals: { vibes: vibes } %>
    </div>
  </div>

  <div class="row" >
    <div class="small-12 columns" >
      <%= f.text_area :content, placeholder: "Review here!" %>
    </div>
  </div>

  <div class="row align-center">
    <div class="small-6 medium-3 columns" id="submit-review">
      <%= f.button :submit, class: "button" %>
    </div>
  </div>
<% end %>