<div class="columns text-center review-info-box">
	<div class="review-rating">
		<% if review.rating %>
			<% review.rating.times do %>
				<%= image_tag("octopus.png", size: '30', title: "#{review.rating}") %>
			<% end %>
		<% end %>
	</div>
	<div class="review-vibes">
		Vibes:
		<% review.vibes.each do |vibe| %>
			<%= image_tag("#{vibe.pic}", size: '30', title: "#{vibe.name}") %>
		<% end %>
	</div>
	<div class="review-week">
		Visited: <%= review.week %>
	</div>
	<div class="reviewed-by">
		<p>Reviewed by<span>
			<%= link_to "#{review.author}", user_profile_path(review.user) %></span></p>
		<%= link_to "Read!", venue_review_path(review.venue.id, review.id), class: "read-more-review button" %>
	</div>
</div>
