<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Pub Gamer" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
  </head>

  <body>

    <div id="content">
      <%= render 'shared/header' %>
      <div id="main">
        <%= render 'shared/no_script' %>
        <div id ="scripts">
          <%= render partial: 'shared/error_display', locals: { errors: @errors } %>
          <%= yield %>
          <script type="text/javascript">
            showScript();
          </script>
        </div>
      </div>
    </div>
    <div id="foot">
      <%= render 'shared/footer' %>
    </div>
    
  </body>
</html>
